{{ define "content" }}

    <div class="lead">
        <a href="/thread/new">Start a thread </a> or join one below.
    </div>

    {{ range .}}

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
        </div>
        <div class="panel-body">
            Started by {{ .User.Name }} - {{ .CreatedAtDate }} - {{ .NumReplies }}
            posts.
            <div class="pull-right">
                <a href="/thread/read?id={{.Uuid }}">Read more</a>
            </div>
        </div>
    </div>

    {{ end }}

{{ end }}